
/* For everything else than Mobile */
body {
	background-color: #264d00;
	color: white;
	margin: 0;
	font-family: helvetica;
	font-weight: lighter;
	text-shadow: 2px 2px #000000;
}

.container{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#logo {
	width: 25%;	
	border-radius: 20%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* For Mobile only */
@media only screen and (max-width: 1200px) {
	#logo {
		width: 60%;	
	}
}