/* For everything else than Mobile */
body {
	background-color: #264d00;
	color: white;
	margin: 0;
	font-family: helvetica;
	font-weight: lighter;
	text-align: center;
}

p	{
	font-size: 1.5em;
}

.container{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.img-polaroid {
	width: 100%;	
	height: 85%;
	object-fit: cover;
	left: 0px;
}

.polaroid{
	background-color: white;
	width: 25%;
	height: 50%;
	padding: 16px;
	margin: 16px;
	box-shadow:20px 20px 10px rgba(0,0,0,0.2);  
	border-radius: 3px;
}

.polaroid h1 {
	color: #264d00;
	font-size: 1.5em;
	margin-top: 30px;
}


#polaroid-0 {
	transform: rotate(-5deg);
	z-index: 1000;
	left: -5%;
	position: relative;
}


#polaroid-1 {
	transform: rotate(+8deg);
	z-index: 500;
	position: absolute;
	top: 10%;
	left: 37%;
}



.social  {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
}

.social-icons  {
	width: 30px;	
}

/* To invert SVG colors */
svg {
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
          filter: invert(100%);
}

.invert { /* svg on an img tag */
  -webkit-filter: invert(.75); /* safari 6.0 - 9.0 */
          filter: invert(.75);
}


/*Bouton pause*/
#pause{
  background: url('img/sound-on.png');
  position: absolute;
  top: 5px;
  right: 75px;
  width: 70px;
  height: 70px;
  opacity: 0px;
  display: none;
  transform: scale(0.7,0.7);
  -ms-transform: scale(0.7,0.7); /* IE 9 */
  -webkit-transform: scale(0.7,0.7); /* Safari and Chrome */
}

/*Bouton reload*/
#reload{
  background: url('img/reload.png');
  position: absolute;
  top: 5px;
  right: 5px;
  width: 70px;
  height: 70px;
  opacity: 0px;
  display: none;
  transform: scale(0.5,0.5);
  -ms-transform: scale(0.5,0.5); /* IE 9 */
  -webkit-transform: scale(0.5,0.5); /* Safari and Chrome */
}


/* Make things shake */

.polaroid:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


/* For Mobile only */
@media only screen and (max-width: 1400px) {
	body {
		font-size: +1.5em;
	}

	.polaroid{
		width: 40%;
		height: 35%;
	}

	.polaroid h1{
		font-size: 0.7em;
		margin-top: -1px;
	}

}