/* For everything else than Mobile */
body {
	background-color: #264d00;
	color: white;
	margin: 0;
	font-family: helvetica;
	font-weight: lighter;
	text-shadow: 2px 2px #000000;
	text-align: center;
}

p	{
	font-size: 1.5em;
}

.container{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#logo {
	width: 25%;	
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.social  {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
}

.social-icons  {
	width: 30px;	
}

/* To invert SVG colors */
svg {
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
          filter: invert(100%);
}

.invert { /* svg on an img tag */
  -webkit-filter: invert(.75); /* safari 6.0 - 9.0 */
          filter: invert(.75);
}


/* For Mobile only */
@media only screen and (max-width: 1200px) {
	body {
		font-size: +1.5em;
	}

	#logo {
		width: 60%;	
	}
}